
body {
    height: 100vh;
    background: linear-gradient(to bottom, 
    #4facfe 0%, /* procentai veikia kaip keyframes. Nurodo kurioje puslapio dalyje pasiekiama ta spalva */
    #1e81b0 40%,
    #154c79 70%,
    #0b2447 100% 
    );
    margin: 0;
    padding: 0;
}

.rodykle {
    font-family: 'Papyrus', sans-serif;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin: 20px 0;
}

.tekstas {
    font-family: 'lucida console', sans-serif;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    margin: 20px;
}

.virsus {
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.banglente {
    max-width: 65%;  
}
@media (min-width: 700px) { /* kai ekrano plotis didesnis nei 700px */
    .banglente {
        max-width: 45%;  
    }
}