* {
    cursor: url("assets/kabliukas.cur"), url("assets/kabliukas.png") 16 16, pointer !important;
}

body {
    height: 100vh;
    background: linear-gradient(to bottom, 
    #4facfe 0%, /* procentai veikia kaip keyframes. Nurodo kurioje puslapio dalyje pasiekiama ta spalva */
    #1e81b0 40%,
    #154c79 70%,
    #0b2447 100% 
    );
    margin: 0;
    padding: 0;
}

.atgal {
    position: absolute;
    max-height: 40px;
    top: 5px;
    right: 5px;
}

.virsus {
    height: 10vh;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.banglente {
    max-width: 65%;   

    animation-duration: 150s; /* 2.5 min animacija */
    animation-name: btn_click_disappear;
}
@keyframes btn_click_disappear{
    0%{
        scale: 1;
    }
    0.1%{
        scale: 0.9;
    }
    0.2% {
        scale: 1;
    }
    1% {
        scale: 0;
    }
    100% {
        scale: 0;
    }
}

.main {
    position: relative;
    width: 100%;
    height: 80vh; /* viewport height. vw - viewport width (panasiai kaip procentai) */
    overflow: hidden;
    background-color: none;

    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;

    place-items:center;
}

.main .lydeka{
    display: inline;
    background-color:none;
    width: 300px;
    align-items: center;
    grid-area: 3/1; /* 3 eilute, 1 stulpelis */

    animation-name: lydeka_juda;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    z-index: 2; /* hierarchija gride (objektai aukstesniu indeksu bus virs sito objekto) */
}
@keyframes lydeka_juda {
    0% {
        transform: translate(1050px, 100px) scaleX(-1); /* pajudinti 1050px i desine, 100px zemyn */
        rotate: 0deg;
        scale: 1;
    }
    23% {
        transform: translate(0,0) scaleX(-1);
        rotate: 15deg;
        scale: 1.1;
    }
    24%{
        transform: translate(0,0);
        rotate: 15deg;
        scale: 1.1;
    }
    35% {
        transform: translate(200px, 10px); 
        rotate: 0deg;
        scale: 1;
    }
    50% {
        transform: translate(600px, 20px);
        rotate: 0deg;
        scale: 1;
    }
    75% {
        rotate: -15deg;
        scale: 1.1;
    }
    99%{
        transform: translate(1050px, 100px);
        rotate: 0deg;
        scale: 1;
    }
    100% {
        transform: translate(1050px, 100px) scaleX(-1);
        rotate: 0deg;
        scale: 1;
    }
}

.lydeka_img {
    width: 200px;
}

.lydeka .lydekos_myg {
    display: inline;
    margin-top: 12px;
    padding: 4px;
    background-color: #1eb051;
    color: green;
    border: green 2px solid;
    border-radius: 50%;
    position: absolute;
}

.main .eserys {
    display: inline;
    background-color:none;
    width: 200px;
    align-items: center;
    grid-area: 3/2; /* 3 eilute, 2 stulpelis */

    animation-name: eserys_juda;
    animation-iteration-count: infinite;
    animation-duration: 30s;
    z-index: 1;
}

.eserys_img {
    width: 150px;
}

.eserys .eserio_myg {
    display: inline;
    margin-top: 32px;
    margin-left: 3px;
    padding: 8px;
    background-color: #1eb051;
    color: green;
    border: green 2px solid;
    border-radius: 50%;
    position: absolute;
}
@keyframes eserys_juda {
    0% {
        transform: translate(100px, 150px) scaleX(1); 
        rotate: 0deg;
        scale: 1;
    }
    10% {
        transform: translate(300px,15px) scaleX(1);
        rotate: -15deg;
        scale: 1;
    }
    12%{
        transform: translate(300px,15px) scaleX(-1);
        rotate: -15deg;
        scale: 1.1;
    }
    20%{
        transform: translate(-100px,-30px) scaleX(-1);
        rotate: -15deg;
        scale: 0.9;
    }
    21%{
        transform: translate(-100px,-30px) scaleX(1);
        rotate: -15deg;
        scale: 0.75;
    }
    35% {
        transform: translate(300px, -10px); 
        rotate: 0deg;
        scale: 1;
    }
    36%{
        transform: translate(300px, -10px) scalex(-1); 
        rotate: 0deg;
        scale: 1;
    }
    50% {
        transform: translate(0px, 40px) scalex(-1);
        rotate: 0deg;
        scale: 1;
    }
    51%{
        transform: translate(0px, 40px) scalex(1);
        rotate: 0deg;
        scale: 1;
    }
    65%{
        transform: translate(300px, 40px) scalex(1);
        rotate: 0deg;
        scale: 1;
    }
    66%{
        transform: translate(300px, 40px) scalex(-1);
        rotate: 0deg;
        scale: 1;
    }
    75% {
        transform: translate(15px, -150px) scalex(-1);
        rotate: 15deg;
        scale: 0.8;
        z-index:3;
    }
    76%{
        transform: translate(15px, -150px) scalex(1);
        rotate: 0deg;
        scale: 0.8;
    }
    93%{
        transform: translate(200px, 50px) scaleX(1);
        rotate: -15deg;
        scale: 1;
    }
    94%{
        transform: translate(200px, 50px) scaleX(-1);
        rotate: -15deg;
        scale: 1;
    }
    99%{
        transform: translate(100px, 150px) scaleX(-1);
        rotate: 0deg;
        scale: 1;
    }
    100% {
        transform: translate(100px, 150px) scaleX(1);
        rotate: 0deg;
        scale: 1;
    }
}

.timer {
  width: 0;
  height: 15px;
  background: #abb01e;
  animation: countdown 30s linear forwards;
}
@keyframes countdown {
  from { width: 0; }
  to   { width: 100%; 
    background: red;
    }
}

.pralaimejai {
    display: block;
    border: line;
    border-radius: 10px;
    box-shadow: #0b2447;
    padding: min(45px, 16%);
    background-color: rgba(45, 175, 226, 0.5);
    height: 70vh;
    max-height: 350px;
    width: 70vw;

    text-align: center;
    align-items: center;
    justify-content: center;

    grid-area: 3/3;
    z-index: 4;

    animation-name: pralaimejimas;
    animation-duration: 30s;
}
@keyframes pralaimejimas {
    0% {
        scale: 0;
    }
    99.5%{
        scale: 0;
    }
    100%{
        scale: 1;
    }
}

.text {
    margin-top: 100px;
    margin-bottom: 75px;
    font-family: 'lucida console', sans-serif;
    color: white;
}

.pralaimejai_btn {
    font-family: 'lucida console', sans-serif;
    color: white;
    text-decoration: none;
    background: rgb(206, 113, 69);
    border-radius: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20%;
    padding-right: 20%
}

@media (min-width: 700px) { /* kai ekrano plotis didesnis nei 700px */
    .banglente {
        max-width: 45%;  
    }
    .main {
        margin-top: 12vh;
        height: 70vh;
    }
    .pralaimejai{
        font-size: 2rem;
    }
}

/* easter egg */

.main .zuvyte{
    display: inline;
    background-color:none;
    width: 300px;
    align-items: center;
    grid-area:5;

    animation-name: zuvyte_juda;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    z-index: 0;
}

.zuvyte_img {
    position: absolute;
    width: 75px;
}

@keyframes zuvyte_juda {
  0% {
    transform: translateX(-200%) translateY(-20px) scale(0);   /* off left, invisible */
  }
  70% {
    transform: translateX(-175%) translateY(-20px) scale(1);   /* entering, full size */
  }
  90% {
    transform: translateX(600%) translateY(-20px) scale(1);    /* almost at right edge */
  }
  100% {
    transform: translateX(625%) translateY(-20px) scale(0);    /* off right, invisible */
  }
}